*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.fullBody {
  width: 100vw;
  height: 100vh;
  background-image: url(../img/samuraiBg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
}

.glow {
  position: fixed;
  top: 11%;
  left: 51%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 60px 30px #fff;
  border-radius: 50%;
  transition: 7s;
}

/* ######################################### HEADER ######################################### */

.navList {
  display: flex;
  justify-content: space-evenly;
}

.redNeon {
  list-style: none;
  animation: redNeon 1.5s ease-in-out infinite alternate;
  color: #fff;
  font-size: 3em;
  font-weight: bold;
  margin: 1%;
  cursor: pointer;
}

.redNeon a {
  text-decoration: none;
  color: floralwhite;
}

@keyframes redNeon {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff1177,
      0 0 70px #ff1177, 0 0 80px #ff1177, 0 0 100px #ff1177, 0 0 150px #ff1177;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff1177,
      0 0 35px #ff1177, 0 0 40px #ff1177, 0 0 50px #ff1177, 0 0 75px #ff1177;
  }
}

/* ######################################### CONTAINER ######################################### */

.containerSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 95vh;
  overflow: hidden;
}

/* ######################################### HOLO ######################################### */

.card {
  position: relative;
  -webkit-animation: float 1.5s infinite alternate;
  animation: float 1.5s infinite alternate;
  border-radius: 20px;
  width: 80vw;
  height: 75vh;
  color: floralwhite;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(0, 252, 252);
  background: radial-gradient(
    circle,
    rgba(0, 252, 252, 0.5) 10%,
    rgba(255, 255, 255, 0) 90%
  );
  /* backdrop-filter: blur(2px); */
  filter: drop-shadow(10px 10px 5px rgba(0, 252, 252, 0.5));
}

.card .holo {
  position: absolute;
  bottom: 0;
}

.holo {
  position: relative;
  z-index: 2;
  width: 100px;
  height: 5px;
  margin: -5px auto 0;
  background-color: rgba(0, 252, 252, 0.35);
  border-radius: 100%;
  filter: blur(2.5px);
  transform: perspective(100px) rotateX(-30deg);
  transform-style: preserve-3d;
  -webkit-animation: holographic 1.5s infinite alternate;
  animation: holographic 1.5s infinite alternate;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.holo:after {
  position: absolute;
  left: -10px;
  right: -10px;
  content: "";
  height: 10px;
  background-color: rgba(0, 252, 252, 0.5);
  border-radius: 100%;
  filter: blur(2.5px);
}

.holo + .holo {
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  opacity: 0.5;
}

@-webkit-keyframes float {
  from {
    will-change: unset;
    transform: translateY(-100px);
  }
  to {
    will-change: transform;
    transform: translateY(-80px);
  }
}

@keyframes float {
  from {
    will-change: unset;
    transform: translateY(-100px);
  }
  to {
    will-change: transform;
    transform: translateY(-80px);
  }
}

@-webkit-keyframes holographic {
  from {
    will-change: box-shadow;
    box-shadow: 0 -75px 5px rgba(0, 252, 252, 0.15),
      0 -1px 2px rgba(0, 252, 252, 0.5), 0 -45px 5px rgba(0, 252, 252, 0.15),
      0 -2px 3px rgba(0, 252, 252, 0.5), 0 -3px 4px rgba(0, 252, 252, 0.5),
      0 -4px 6px rgba(0, 252, 252, 0.5), 0 -5px 10px rgba(0, 252, 252, 0.75),
      0 -7px 20px rgba(0, 252, 252, 0.75), 0 -10px 30px rgba(0, 252, 252, 0.75),
      0 -15px 40px rgba(0, 252, 252, 0.75), 0 -25px 50px rgba(0, 252, 252, 0.75),
      0 -35px 60px rgba(0, 252, 252, 0.85), 0 -45px 70px rgba(0, 252, 252, 0.95),
      0 -65px 80px #00fcfc, 0 -75px 90px #00fcfc;
  }
  to {
    will-change: unset;
    box-shadow: 0 -1px 5px rgba(0, 252, 252, 0.15),
      0 -1px 2px rgba(0, 252, 252, 0.5), 0 -1px 5px rgba(0, 252, 252, 0.15),
      0 -2px 3px rgba(0, 252, 252, 0.5), 0 -3px 4px rgba(0, 252, 252, 0.5),
      0 -4px 6px rgba(0, 252, 252, 0.5), 0 -5px 7px rgba(0, 252, 252, 0.75),
      0 -7px 10px rgba(0, 252, 252, 0.75), 0 -10px 15px rgba(0, 252, 252, 0.75),
      0 -15px 20px rgba(0, 252, 252, 0.75), 0 -25px 25px rgba(0, 252, 252, 0.75),
      0 -35px 30px rgba(0, 252, 252, 0.85), 0 -45px 35px rgba(0, 252, 252, 0.95),
      0 -65px 40px #00fcfc, 0 -75px 50px #00fcfc;
  }
}

@keyframes holographic {
  from {
    will-change: box-shadow;
    box-shadow: 0 -75px 5px rgba(0, 252, 252, 0.15),
      0 -1px 2px rgba(0, 252, 252, 0.5), 0 -45px 5px rgba(0, 252, 252, 0.15),
      0 -2px 3px rgba(0, 252, 252, 0.5), 0 -3px 4px rgba(0, 252, 252, 0.5),
      0 -4px 6px rgba(0, 252, 252, 0.5), 0 -5px 10px rgba(0, 252, 252, 0.75),
      0 -7px 20px rgba(0, 252, 252, 0.75), 0 -10px 30px rgba(0, 252, 252, 0.75),
      0 -15px 40px rgba(0, 252, 252, 0.75), 0 -25px 50px rgba(0, 252, 252, 0.75),
      0 -35px 60px rgba(0, 252, 252, 0.85), 0 -45px 70px rgba(0, 252, 252, 0.95),
      0 -65px 80px #00fcfc, 0 -75px 90px #00fcfc;
  }
  to {
    will-change: unset;
    box-shadow: 0 -1px 5px rgba(0, 252, 252, 0.15),
      0 -1px 2px rgba(0, 252, 252, 0.5), 0 -1px 5px rgba(0, 252, 252, 0.15),
      0 -2px 3px rgba(0, 252, 252, 0.5), 0 -3px 4px rgba(0, 252, 252, 0.5),
      0 -4px 6px rgba(0, 252, 252, 0.5), 0 -5px 7px rgba(0, 252, 252, 0.75),
      0 -7px 10px rgba(0, 252, 252, 0.75), 0 -10px 15px rgba(0, 252, 252, 0.75),
      0 -15px 20px rgba(0, 252, 252, 0.75), 0 -25px 25px rgba(0, 252, 252, 0.75),
      0 -35px 30px rgba(0, 252, 252, 0.85), 0 -45px 35px rgba(0, 252, 252, 0.95),
      0 -65px 40px #00fcfc, 0 -75px 50px #00fcfc;
  }
}

/* ##################################### CARDCONTAINER ##################################### */

.cardContainer {
  margin: 1% 5%;
}

/* ##################################### ABOUTSECTION ##################################### */

.aboutSection {
  display: flex;
  align-items: center;
  width: 100%;
}

.aboutImg {
  max-width: 400px;
}

.aboutImg img {
  border-radius: 20px;
  width: 100%;
}

.aboutTxt {
  margin: 0 2%;
  text-align: justify;
}

.aboutTxt h1 {
  margin: 2%;
}

/* ######################################### SKILLS SECTION ######################################### */
.skillsSection {
  border-radius: 20px;
  width: 90%;
  height: 90%;
  margin-left: 5vw;
  text-align: center;
}

.skillsSection h1 {
  font-size: 2em;
  margin-bottom: 1%;
}

.skillsSection h2 {
  font-size: 1em;
  margin: 1% 0;
}

/* FRONT SECTION */

.frontSection {
  display: flex;
}

/* FRONT SKILL BAR */

.skillBarsSection {
  height: 100%;
  width: 50%;
}

.skillBarsGroup {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.skillGroup {
  margin: 1%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/* PROGRESS BARS */

.progress {
  background: rgba(255, 255, 255, 0.1);
  justify-content: flex-start;
  border-radius: 100px;
  padding: 0 5px;
  display: flex;
  height: 30px;
  width: 500px;
}

.progress-value {
  border-radius: 100px;
  height: 30px;
  width: 0;
}

.pv-html {
  animation: load-html 3s normal forwards;
  background: #e76017;
  box-shadow: 0 10px 40px -10px #e76017;
}

@keyframes load-html {
  0% {
    width: 0;
  }

  100% {
    width: 90%;
  }
}

.pv-css {
  animation: load-css 3s normal forwards;
  background: #3bb2e0;
  box-shadow: 0 10px 40px -10px #3bb2e0;
}

@keyframes load-css {
  0% {
    width: 0;
  }

  100% {
    width: 80%;
  }
}

.pv-js {
  animation: load-js 3s normal forwards;
  background: #f1d223;
  box-shadow: 0 10px 40px -10px #f1d223;
}

@keyframes load-js {
  0% {
    width: 0;
  }

  100% {
    width: 50%;
  }
}

.pv-php {
  animation: load-php 3s normal forwards;
  background: #838cb4;
  box-shadow: 0 10px 40px -10px #838cb4;
}

@keyframes load-php {
  0% {
    width: 0;
  }

  100% {
    width: 30%;
  }
}

.pv-mysql {
  animation: load-mysql 3s normal forwards;
  background: #007777;
  box-shadow: 0 10px 40px -10px #007777;
}

@keyframes load-mysql {
  0% {
    width: 0;
  }

  100% {
    width: 30%;
  }
}

/* DEV TOOLS SECTION */

.toolsGroup {
  height: 100%;
  width: 50%;
}

.toolsGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.toolElement img {
  height: 100px;
  margin: 10%;
}

/* RESPONSIVE SKILL PAGE */

@media (max-width: 1026px) {
  .frontSection {
    flex-direction: column;
    height: 90%;
    width: 90%;
    overflow-y: scroll;
  }

  .skillBarsSection {
    width: 100%;
  }

  .toolsGroup {
    width: 100%;
  }

  .toolElement img {
    height: 50px;
    margin: 5%;
  }

  .skillsSection h1 {
    font-size: 2em;
  }

  .skillsSection h2 {
    font-size: 1em;
  }
}

/* ######################################### FOOTER ######################################### */

.footerContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
}

.holoDevice {
  background-image: url(../img/mainRobot.png);
  background-size: cover;
  opacity: 90%;
  width: 300px;
  height: 150px;
  transform: translateX(5px);
  filter: drop-shadow(3px 3px 5px rgba(0, 252, 252, 0.5));
}
