*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.fullBody {
  width: 100vw;
  height: 100vh;
  background-image: url(../img/samuraiBg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
}

.glow {
  position: fixed;
  top: 11%;
  left: 51%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 60px 30px #fff;
  border-radius: 50%;
  transition: 7s;
}

/* ######################################### HEADER ######################################### */

.navList {
  display: flex;
  justify-content: space-evenly;
}

.redNeon {
  list-style: none;
  animation: redNeon 1.5s ease-in-out infinite alternate;
  color: #fff;
  font-size: 3em;
  font-weight: bold;
  margin: 1%;
  cursor: pointer;
}

.redNeon a {
  text-decoration: none;
  color: floralwhite;
}

@keyframes redNeon {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff1177,
      0 0 70px #ff1177, 0 0 80px #ff1177, 0 0 100px #ff1177, 0 0 150px #ff1177;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff1177,
      0 0 35px #ff1177, 0 0 40px #ff1177, 0 0 50px #ff1177, 0 0 75px #ff1177;
  }
}

.symbole {
  position: fixed;
  float: left;
  margin: 16px 36px;
  color: floralwhite;
  font-size: 24px;
  font-weight: bold;
}

.menu {
  max-height: 20em;
}

nav.scroll ul {
  background: rgba(0, 0, 0, 0.95);
}

.hamburg {
  display: none;
}

/* RESPONSIVE HEADER */

@media (max-width: 1026px) {
  nav {
    position: fixed;
    width: 100%;
    font-weight: bold;
    z-index: 10;
  }

  nav ul {
    padding: 0;
    text-align: center;
    margin: 0;
    transition: 1s;
    /* overflow: hidden; */
  }

  .navList {
    flex-direction: column;
    justify-content: center;
  }

  nav ul li {
    display: inline-block;
    padding: 20px;
  }

  nav ul li a {
    text-decoration: none;
    color: floralwhite;
    font-size: 1.5em;
  }

  .hamburg {
    display: block;
    background-color: rgba(0, 0, 0, 0.95);
  }

  .hamenu {
    background: rgba(0, 0, 0, 0.95);
    border: none;
    width: 100%;
    text-align: right;
  }

  .line {
    fill: none;
    stroke: #ff1177;
    stroke-width: 6;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
      stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .line1 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
  }

  .line2 {
    stroke-dasharray: 60 60;
    stroke-width: 6;
  }

  .line3 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
  }

  .opened .line1 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
  }

  .opened .line2 {
    stroke-dasharray: 1 60;
    stroke-dashoffset: -30;
    stroke-width: 6;
  }

  .opened .line3 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
  }

  .symbole {
    position: fixed;
    top: 0;
    margin: 0 5%;
  }

  nav ul {
    background: rgba(0, 0, 0, 0.95);
  }

  .menu {
    display: none;
  }

  nav ul li {
    width: 100%;
    padding: 24px 0;
  }

  .redNeon {
    animation: none;
    font-size: 1em;
    margin: 0;
  }

  .redNeon a {
    color: #ff1177;
  }

  .glow {
    display: none;
  }
}
/* ######################################### CONTAINER ######################################### */

.containerSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 95vh;
  /* overflow: hidden; */
}
@media (max-width: 1026px) {
  .containerSection {
    width: 90%;
    height: 90%;
    margin-left: 5%;
    position: absolute;
    bottom: 0;
  }
}
/* ######################################### HOLO ######################################### */

.card {
  position: relative;
  /* overflow: hidden; */
  -webkit-animation: float 1.5s infinite alternate;
  animation: float 1.5s infinite alternate;
  border-radius: 20px;
  width: 80vw;
  height: 75vh;
  color: floralwhite;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(0, 252, 252);
  background: radial-gradient(
    circle,
    rgba(0, 252, 252, 0.5) 10%,
    rgba(255, 255, 255, 0) 90%
  );
  /* backdrop-filter: blur(2px); */
  filter: drop-shadow(10px 10px 5px rgba(0, 252, 252, 0.5));
}

.card .holo {
  position: absolute;
  bottom: 0;
}

.holo {
  position: relative;
  z-index: 2;
  width: 100px;
  height: 5px;
  margin: -5px auto 0;
  background-color: rgba(0, 252, 252, 0.35);
  border-radius: 100%;
  filter: blur(2.5px);
  transform: perspective(100px) rotateX(-30deg);
  transform-style: preserve-3d;
  -webkit-animation: holographic 1.5s infinite alternate;
  animation: holographic 1.5s infinite alternate;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.holo:after {
  position: absolute;
  left: -10px;
  right: -10px;
  content: "";
  height: 10px;
  background-color: rgba(0, 252, 252, 0.5);
  border-radius: 100%;
  filter: blur(2.5px);
}

.holo + .holo {
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  opacity: 0.5;
}

@-webkit-keyframes float {
  from {
    will-change: unset;
    transform: translateY(-100px);
  }
  to {
    will-change: transform;
    transform: translateY(-80px);
  }
}

@keyframes float {
  from {
    will-change: unset;
    transform: translateY(-100px);
  }
  to {
    will-change: transform;
    transform: translateY(-80px);
  }
}

@-webkit-keyframes holographic {
  from {
    will-change: box-shadow;
    box-shadow: 0 -75px 5px rgba(0, 252, 252, 0.15),
      0 -1px 2px rgba(0, 252, 252, 0.5), 0 -45px 5px rgba(0, 252, 252, 0.15),
      0 -2px 3px rgba(0, 252, 252, 0.5), 0 -3px 4px rgba(0, 252, 252, 0.5),
      0 -4px 6px rgba(0, 252, 252, 0.5), 0 -5px 10px rgba(0, 252, 252, 0.75),
      0 -7px 20px rgba(0, 252, 252, 0.75), 0 -10px 30px rgba(0, 252, 252, 0.75),
      0 -15px 40px rgba(0, 252, 252, 0.75), 0 -25px 50px rgba(0, 252, 252, 0.75),
      0 -35px 60px rgba(0, 252, 252, 0.85), 0 -45px 70px rgba(0, 252, 252, 0.95),
      0 -65px 80px #00fcfc, 0 -75px 90px #00fcfc;
  }
  to {
    will-change: unset;
    box-shadow: 0 -1px 5px rgba(0, 252, 252, 0.15),
      0 -1px 2px rgba(0, 252, 252, 0.5), 0 -1px 5px rgba(0, 252, 252, 0.15),
      0 -2px 3px rgba(0, 252, 252, 0.5), 0 -3px 4px rgba(0, 252, 252, 0.5),
      0 -4px 6px rgba(0, 252, 252, 0.5), 0 -5px 7px rgba(0, 252, 252, 0.75),
      0 -7px 10px rgba(0, 252, 252, 0.75), 0 -10px 15px rgba(0, 252, 252, 0.75),
      0 -15px 20px rgba(0, 252, 252, 0.75), 0 -25px 25px rgba(0, 252, 252, 0.75),
      0 -35px 30px rgba(0, 252, 252, 0.85), 0 -45px 35px rgba(0, 252, 252, 0.95),
      0 -65px 40px #00fcfc, 0 -75px 50px #00fcfc;
  }
}

@keyframes holographic {
  from {
    will-change: box-shadow;
    box-shadow: 0 -75px 5px rgba(0, 252, 252, 0.15),
      0 -1px 2px rgba(0, 252, 252, 0.5), 0 -45px 5px rgba(0, 252, 252, 0.15),
      0 -2px 3px rgba(0, 252, 252, 0.5), 0 -3px 4px rgba(0, 252, 252, 0.5),
      0 -4px 6px rgba(0, 252, 252, 0.5), 0 -5px 10px rgba(0, 252, 252, 0.75),
      0 -7px 20px rgba(0, 252, 252, 0.75), 0 -10px 30px rgba(0, 252, 252, 0.75),
      0 -15px 40px rgba(0, 252, 252, 0.75), 0 -25px 50px rgba(0, 252, 252, 0.75),
      0 -35px 60px rgba(0, 252, 252, 0.85), 0 -45px 70px rgba(0, 252, 252, 0.95),
      0 -65px 80px #00fcfc, 0 -75px 90px #00fcfc;
  }
  to {
    will-change: unset;
    box-shadow: 0 -1px 5px rgba(0, 252, 252, 0.15),
      0 -1px 2px rgba(0, 252, 252, 0.5), 0 -1px 5px rgba(0, 252, 252, 0.15),
      0 -2px 3px rgba(0, 252, 252, 0.5), 0 -3px 4px rgba(0, 252, 252, 0.5),
      0 -4px 6px rgba(0, 252, 252, 0.5), 0 -5px 7px rgba(0, 252, 252, 0.75),
      0 -7px 10px rgba(0, 252, 252, 0.75), 0 -10px 15px rgba(0, 252, 252, 0.75),
      0 -15px 20px rgba(0, 252, 252, 0.75), 0 -25px 25px rgba(0, 252, 252, 0.75),
      0 -35px 30px rgba(0, 252, 252, 0.85), 0 -45px 35px rgba(0, 252, 252, 0.95),
      0 -65px 40px #00fcfc, 0 -75px 50px #00fcfc;
  }
}

@media (max-width: 1026px) {
  .card {
    position: unset;
    -webkit-animation: none;
    animation: none;
    width: 100%;
    height: 100%;
  }
}

/* ##################################### CARDCONTAINER ##################################### */

.cardContainer {
  height: 90%;
  width: 100%;
  margin: 1% 5%;
  overflow-y: scroll;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
.cardContainer::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

/* ##################################### ABOUT SECTION ##################################### */

.aboutSection {
  display: flex;
  align-items: center;
  width: 100%;
}

.aboutImg {
  width: 40%;
}

.aboutImg img {
  border-radius: 20px;
  width: 100%;
}

.aboutTxt {
  width: 50%;
  margin: 0 2%;
  text-align: justify;
}

.aboutTxt h1 {
  margin: 2%;
}

@media (max-width: 1026px) {
  .aboutSection {
    flex-direction: column;
  }
  .aboutImg {
    width: 60%;
  }
  .aboutTxt {
    width: 80%;
    font-size: 0.7em;
  }
  .aboutTxt h1 {
    font-size: 1.5em;
  }
}
@media (max-width: 513px) {
  .aboutImg {
    width: 90%;
  }
  .aboutTxt {
    width: 100%;
    font-size: 0.7em;
  }
  .aboutTxt h1 {
    font-size: 1.2em;
  }
}

/* ######################################### SKILLS SECTION ######################################### */
.skillsSection {
  border-radius: 20px;
  width: 90%;
  height: 90%;
  margin-left: 5%;
  text-align: center;
}

.skillsSection h1 {
  font-size: 2em;
  margin-bottom: 1%;
}

.skillsSection h2 {
  font-size: 1em;
  margin: 1% 0;
}

/* FRONT SECTION */

.frontSection {
  display: flex;
}

/* FRONT SKILL BAR */

.skillBarsSection {
  height: 100%;
  width: 50%;
}

.skillBarsGroup {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.skillGroup {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/* PROGRESS BARS */

.progress {
  background: rgba(255, 255, 255, 0.1);
  justify-content: flex-start;
  border-radius: 100px;
  padding: 0 5px;
  display: flex;
  height: 30px;
  width: 500px;
}

.progress-value {
  border-radius: 100px;
  height: 30px;
  width: 0;
}

.pv-html {
  animation: load-html 3s normal forwards;
  background: #e76017;
  box-shadow: 0 10px 40px -10px #e76017;
}

@keyframes load-html {
  0% {
    width: 0;
  }

  100% {
    width: 90%;
  }
}

.pv-css {
  animation: load-css 3s normal forwards;
  background: #3bb2e0;
  box-shadow: 0 10px 40px -10px #3bb2e0;
}

@keyframes load-css {
  0% {
    width: 0;
  }

  100% {
    width: 80%;
  }
}

.pv-js {
  animation: load-js 3s normal forwards;
  background: #f1d223;
  box-shadow: 0 10px 40px -10px #f1d223;
}

@keyframes load-js {
  0% {
    width: 0;
  }

  100% {
    width: 50%;
  }
}

.pv-php {
  animation: load-php 3s normal forwards;
  background: #838cb4;
  box-shadow: 0 10px 40px -10px #838cb4;
}

@keyframes load-php {
  0% {
    width: 0;
  }

  100% {
    width: 30%;
  }
}

.pv-mysql {
  animation: load-mysql 3s normal forwards;
  background: #007777;
  box-shadow: 0 10px 40px -10px #007777;
}

@keyframes load-mysql {
  0% {
    width: 0;
  }

  100% {
    width: 30%;
  }
}

/* DEV TOOLS SECTION */

.toolsGroup {
  height: 100%;
  width: 50%;
}

.toolsGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.toolElement img {
  height: 100px;
  margin: 10%;
}

/* RESPONSIVE SKILL PAGE */

@media (max-width: 1026px) {
  .frontSection {
    flex-direction: column;
    height: 90%;
    width: 90%;
  }

  .skillBarsSection {
    width: 100%;
  }

  .toolsGroup {
    width: 100%;
  }

  .toolElement img {
    height: 50px;
    margin: 5%;
  }

  .skillsSection h1 {
    font-size: 2em;
  }

  .skillsSection h2 {
    font-size: 1em;
  }
}

@media (max-width: 513px) {
  .skillsSection h1 {
    font-size: 1em;
  }

  .skillsSection h2 {
    font-size: 0.7em;
  }
}

/* ######################################### WORKS SECTION ######################################### */

/* WORKS PAGE */

.worksSection {
  height: 100%;
  text-align: center;
  overflow-y: scroll;
  border-radius: 20px;
  width: 100%;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
.worksSection::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.worksSection h1 {
  font-size: 1em;
  padding: 1%;
}

.worksGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  height: 100%;
}

.workElement {
  position: relative;
  height: 99%;
  width: 99%;
  margin-left: 1%;
  margin-bottom: 1%;
}

.workElement a {
  color: floralwhite;
}

.workElement img {
  width: 100%;
  height: 100%;
  background: floralwhite;
  border-radius: 20px;
}

.workElementTxt {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 0px 20px 20px 0px;
  padding: 1%;
  text-align: justify;
  font-size: 1em;
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;

  /* for chrome and safari*/
  -webkit-animation-duration: 1s;
  -webkit-animation-name: slidein;

  /*for firefox*/
  -moz-animation-duration: 1s;
  -moz-animation-name: slidein;

  /* for opera*/
  -o-animation-duration: 1s;
  -o-animation-name: slidein;

  /* Standard syntax*/
  animation-duration: 1s;
  animation-name: slidein;
}

@-webkit-keyframes slidein {
  from {
    height: 0%;
    overflow: hidden;
  }

  to {
    height: 100%;
  }
}

@-moz-keyframes slidein {
  from {
    height: 0%;
    overflow: hidden;
  }

  to {
    height: 100%;
  }
}

@-o-keyframes slidein {
  from {
    height: 0%;
    overflow: hidden;
  }

  to {
    height: 100%;
  }
}

@keyframes slidein {
  from {
    height: 0%;
    overflow: hidden;
  }

  to {
    height: 100%;
  }
}

.workElementTxt h2 {
  margin: 5%;
  text-decoration: underline;
  text-align: center;
}

.workElementTxt h2:hover {
  color: #ff1177;
}

.workElement p,
.workElement h2 {
  /* for chrome and safari*/
  -webkit-animation-duration: 4s;
  -webkit-animation-name: fadein;

  /*for firefox*/
  -moz-animation-duration: 4s;
  -moz-animation-name: fadein;

  /* for opera*/
  -o-animation-duration: 4s;
  -o-animation-name: fadein;

  /* Standard syntax*/
  animation-duration: 4s;
  animation-name: fadein;
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
    overflow: hidden;
  }

  to {
    opacity: 1;
  }
}

@-moz-keyframes fadein {
  from {
    opacity: 0;
    overflow: hidden;
  }

  to {
    opacity: 1;
  }
}

@-o-keyframes fadein {
  from {
    opacity: 0;
    overflow: hidden;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
    overflow: hidden;
  }

  to {
    opacity: 1;
  }
}

.workElement:hover .workElementTxt {
  display: block;
}

.infoTxt {
  display: none;
  padding: 5%;
  color: #ff1177;
}

/* RESPONSIVE WORKS PAGE */

@media (max-width: 1026px) {
  .worksGrid {
    grid-template-columns: repeat(1, 1fr);
  }

  .workElement {
    width: 98%;
    height: 98%;
    margin: 1% 1%;
  }

  .workElementTxt {
    font-size: 0.7em;
    overflow-y: scroll;
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
  }
  .workElementTxt::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }

  .infoTxt {
    display: unset;
  }
}

@media (max-width: 513px) {
  /* .worksGrid {
    grid-template-columns: repeat(1, 1fr);
  } */

  .workElement {
    width: 90%;
    height: 90%;
    margin: 5%;
  }

  .workElementTxt {
    font-size: 0.5em;
  }
}

/* ######################################### CONTACT ######################################### */

.contactSectionBg {
  text-align: center;
  overflow-y: scroll;
  border-radius: 20px;
  height: 100%;
  width: 100%;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
.contactSectionBg::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.contactSectionBg h1 {
  font-size: 2em;
  margin-top: 1%;
}

.contactSection {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}

.formSection {
  width: 45%;
  height: 100%;
  margin-left: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.formGroup {
  width: 100%;
  /* height: 100%; */
  display: flex;
  align-items: center;
}

.inputGroup {
  width: 100%;
  position: relative;
  display: block;
}

.formLabel {
  position: absolute;
  left: 0;
  font-size: 0.7em;
  font-weight: bold;
  width: 30%;
}

.formInput {
  position: absolute;
  right: 0;
  padding: 1% 2%;
  border-radius: 20px;
  text-shadow: none;
  color: #000;
  width: 70%;
}

.formMsg {
  resize: vertical;
  max-height: 220px;
  z-index: 2;
}

.btnDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  /* height: 200px; */
  width: 100%;
}

.formBtn {
  z-index: 3;
  padding: 1% 2%;
  border-radius: 20px;
  font-weight: bold;
  font-size: 1em;
  background: #ff1177;
  color: floralwhite;
  border: floralwhite solid 5px;
  cursor: pointer;
}

.formBtn:hover {
  background: floralwhite;
  border: #ff1177 solid 5px;
  color: #ff1177;
  text-shadow: none;
  text-decoration: underline;
}

.contactMap {
  width: 40%;
  height: 80%;
  margin-left: 5%;
}

.contactMap iframe {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

/* RESPONSIVE CONTACT */

@media (max-width: 1026px) {
  .contactSection {
    flex-direction: column;
  }
  .formSection {
    height: 100%;
    width: 90%;
    margin: auto;
  }
  .inputGroup {
    display: flex;
    flex-direction: column;
    margin-top: 5%;
  }
  .formLabel {
    width: 100%;
    position: unset;
    margin-bottom: 1%;
  }
  .formInput {
    width: 100%;
    position: unset;
  }
  .formBtn {
    margin-top: 50px;
  }
  .contactMap {
    width: 90%;
    height: 100%;
    margin: 2% auto;
  }
  .msgGroup {
    margin-top: 4%;
  }
}

@media (max-width: 513px) {
  .contactSectionBg h1 {
    font-size: 1em;
  }
}

/* CONTACT ANIMS */

.arrow {
  transform: translate(-50%, -50%);
}

.arrow span {
  z-index: 1;
  display: block;
  width: 30px;
  height: 30px;
  border-bottom: 5px solid #ff1177;
  border-right: 5px solid #ff1177;
  transform: rotate(45deg);
  margin: -10px;
  animation: animate 2s infinite;
}

.arrow span:nth-child(2) {
  animation-delay: -0.2s;
}

.arrow span:nth-child(3) {
  animation-delay: -0.4s;
}

@keyframes animate {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px);
  }
}

@media (max-width: 1026px) {
  .arrow {
    display: none;
  }
}

/* THANKS PAGE */

.thanksDiv {
  text-align: center;
  overflow-y: scroll;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  height: 80%;
  width: 90%;
  margin-left: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
.thanksDiv::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.thanksDiv h2 {
  font-size: 2em;
  margin: 5% 0;
}

.thanksDiv p {
  font-size: 1em;
  margin: 2% 0;
  font-style: italic;
}

.thanksDiv img {
  width: 50px;
  height: 50px;
  margin-right: 20px;
  margin-top: 20px;
}

.thxFR,
.thxEN {
  display: flex;
}

/* ######################################### FOOTER ######################################### */

.footerContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
}

.holoDevice {
  background-image: url(../img/mainRobot.png);
  background-size: cover;
  opacity: 90%;
  width: 300px;
  height: 150px;
  transform: translateX(5px);
  filter: drop-shadow(3px 3px 5px rgba(0, 252, 252, 0.5));
}

@media (max-width: 1026px) {
  .holoDevice {
    display: none;
  }
}
